<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Alain Barrero</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	<link rel="stylesheet" th:href="@{/css/perfil.css}" href="../../css/perfil.css" />
</head>
	<body>
		<div class="container">
			<div class="row profile">
				<div class="col-md-3">
					<div class="profile-sidebar">
						<div class="profile-userpic">
							<img th:src="@{/img/perfil.png}" class="img-responsive" alt=""/>
						</div>
						<div class="profile-usertitle">
							<div class="profile-usertitle-name">
								Alain Barrero
							</div>
							<div class="profile-usertitle-job">
								Programador
							</div>
						</div>
						<div class="profile-usermenu">
							<ul class="nav">
								<li class="active">
									<a href="#inicio">
										<i class="glyphicon glyphicon-home"></i>
										Inicio
									</a>
								</li>
								<li>
									<a href="#experiencia">
										<i class="glyphicon glyphicon-briefcase"></i>
										Experiencia
									</a>
								</li>
								<li>
									<a href="#educacion">
										<i class="glyphicon glyphicon-education"></i>
										Educación
									</a>
								</li>
								<li>
									<a href="#aptitudes">
										<i class="glyphicon glyphicon-tasks"></i>
										Aptitudes
									</a>
								</li>
								<li>
									<a href="#contacto">
										<i class="glyphicon glyphicon-envelope"></i>
										Contacto
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="profile-content" id="inicio">
						<div class="content-title">
							Inicio
						</div>
						<p class="content-paragraph">
							Dentro de mi trayectoria como programador he participado en diversos proyectos
							informáticos, tanto para el sector privado, como para el público.
						</p>
						<p class="content-paragraph">
							Gracias a los resultados obtenidos, sigo queriendo aprender nuevas metodologías y
							realizar nuevos proyectos, aportando todos mis conocimientos al grupo de trabajo.
						</p>
						<img th:src="@{/img/inicio.png}" class="content-image" alt=""/>
					</div>
					<div class="profile-content" id="experiencia">
						<div class="content-title">
							Experiencia
						</div>
					</div>
					<div class="profile-content" id="educacion">
						<div class="content-title">
							Educación
						</div>
					</div>
					<div class="profile-content" id="aptitudes">
						<div class="content-title">
							Aptitudes
						</div>
					</div>
					<div class="profile-content" id="contacto">
						<div class="content-title">
							Contacto
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="webjars/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" th:src="@{/js/main.js}"></script>
	</body>
</html>